/* ============================================================== banner */

.banner_title{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    right: -10%;
    background-color: rgba(56, 56, 56, 90%);

}


.banner_title > h2{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #FBFBFB;

}

/* ================================= section product_cotainer  */



.cotainer{
    width: 90%;
    /* max-width: 1200px; */
    margin-left: 5%;
    margin-right: 5%;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
    padding-bottom: 60px;
    margin: auto 0;
}

.item{
    width: 25%;
    padding: 10px;
}


.text{
    margin: 0px 4px;

}

h3{
    margin: 20px 0px;
    padding: 10px 0px;
    border-top:  1px solid #383838;
    border-bottom:  1px solid #383838;
    font-size: 20px;
    font-weight: 800;
    color: #383838;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
}

.text li{
    padding: 4px 0px;

    /* list-style-type:decimal; */
    /* 記得修改樣式 */

    font-size: 14px;
    color: #5F605D;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 10%);
}

.more_pic_btn{
    margin: 10px 4px;
}

.more_pic_btn a{
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #383838;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
}

.more_pic_btn a::after{
    content:'';
    width: 14px;
    height: 1.5px;
    position: relative;
    top: 8px;
    right: 6px;
    background-color: #EF6817;
}

.more_pic_btn a:hover::after{
    content: '';
    width: 188px;
    height: 1.5px;
    position: relative;
    top: 8px;
    right: 6px;
    background-color: #EF6817;
    transition: 0.7s 0.4s;
}

.page{
    display: flex;
    justify-content: center;
}

.page_btn{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    
}

.page_btn a{
    margin: 0 auto;
    color: #383838;
    font-size: 14px;
}

.page_btn a:hover{
    color: #EF6817;
    border-bottom: 1px solid #EF6817;
}
